# ==============================================================================
# LiBwrt Configuration: GL.iNet GL-AXT1800 (ipq60xx)
# ==============================================================================
# Все указанные здесь пакеты для автоматической установки без ручных методов

CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
CONFIG_TARGET_qualcommax_ipq60xx_DEVICE_glinet_gl-axt1800=y

# -----------------------------------------------------------------------------
# Kernel Modules Configuration
#
# Пакеты модулей не поставляются в пакетном менеджере. Список повзаимствован из
# прошивки Kwrt, плюс врчную отобранное основываясь на часто используемых
# "ускоряшках интернета"
# -----------------------------------------------------------------------------
CONFIG_PACKAGE_kmod-amneziawg=y
CONFIG_PACKAGE_kmod-crypto-acompress=y
CONFIG_PACKAGE_kmod-crypto-authenc=y
CONFIG_PACKAGE_kmod-crypto-blake2b=y
CONFIG_PACKAGE_kmod-crypto-des=y
CONFIG_PACKAGE_kmod-crypto-hw-safexcel=y
CONFIG_PACKAGE_kmod-crypto-kpp=y
CONFIG_PACKAGE_kmod-crypto-lib-chacha20=y
CONFIG_PACKAGE_kmod-crypto-lib-chacha20poly1305=y
CONFIG_PACKAGE_kmod-crypto-lib-curve25519=y
CONFIG_PACKAGE_kmod-crypto-lib-poly1305=y
CONFIG_PACKAGE_kmod-crypto-md5=y
CONFIG_PACKAGE_kmod-crypto-sha256=y
CONFIG_PACKAGE_kmod-crypto-xxhash=y
CONFIG_PACKAGE_kmod-dummy=y
CONFIG_PACKAGE_kmod-fs-btrfs=y
CONFIG_PACKAGE_kmod-fs-exfat=y
CONFIG_PACKAGE_kmod-fs-msdos=y
CONFIG_PACKAGE_kmod-fs-ntfs=y
CONFIG_PACKAGE_kmod-inet-diag=y
CONFIG_PACKAGE_kmod-ip6tables=y
CONFIG_PACKAGE_kmod-ipt-conntrack-extra=y
CONFIG_PACKAGE_kmod-ipt-conntrack-label=y
CONFIG_PACKAGE_kmod-ipt-conntrack=y
CONFIG_PACKAGE_kmod-ipt-core=y
CONFIG_PACKAGE_kmod-ipt-fullconenat=y
CONFIG_PACKAGE_kmod-ipt-iprange=y
CONFIG_PACKAGE_kmod-ipt-ipset=y
CONFIG_PACKAGE_kmod-ipt-nat6=y
CONFIG_PACKAGE_kmod-ipt-nat=y
CONFIG_PACKAGE_kmod-ipt-offload=y
CONFIG_PACKAGE_kmod-ipt-socket=y
CONFIG_PACKAGE_kmod-ipt-tproxy=y
CONFIG_PACKAGE_kmod-lib-lzo=y
CONFIG_PACKAGE_kmod-lib-raid6=y
CONFIG_PACKAGE_kmod-lib-xor=y
CONFIG_PACKAGE_kmod-lib-xxhash=y
CONFIG_PACKAGE_kmod-lib-zlib-deflate=y
CONFIG_PACKAGE_kmod-lib-zlib-inflate=y
CONFIG_PACKAGE_kmod-lib-zstd=y
CONFIG_PACKAGE_kmod-mmc=y # Поддержка MMC/SD карт памяти
CONFIG_PACKAGE_kmod-mt76-connac=y # Драйвера для Wireless MediaTek MT7615/MT79xx
CONFIG_PACKAGE_kmod-mt76-core=y # Драйвера для Wireless MediaTek MT7615/MT79xx
CONFIG_PACKAGE_kmod-mt7915e=y # Драйвера для Wireless MediaTek MT7915e
CONFIG_PACKAGE_kmod-netlink-diag=y
CONFIG_PACKAGE_kmod-nf-conntrack-netlink=y
CONFIG_PACKAGE_kmod-nf-conntrack=y
CONFIG_PACKAGE_kmod-nf-ipt6=y
CONFIG_PACKAGE_kmod-nf-ipt=y
CONFIG_PACKAGE_kmod-nf-nat6=y
CONFIG_PACKAGE_kmod-nf-socket=y
CONFIG_PACKAGE_kmod-nf-tproxy=y
CONFIG_PACKAGE_kmod-nft-compat=y
CONFIG_PACKAGE_kmod-nft-fullcone=y
CONFIG_PACKAGE_kmod-nft-nat=y
CONFIG_PACKAGE_kmod-nft-offload=y
CONFIG_PACKAGE_kmod-nft-socket=y
CONFIG_PACKAGE_kmod-nft-tproxy=y
CONFIG_PACKAGE_kmod-tcp-bbr=y
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_kmod-usb-net-rndis=y # USB net driver (for tethering)
CONFIG_PACKAGE_kmod-usb-net-rtl8152-vendor=y
CONFIG_PACKAGE_kmod-usb-storage-uas=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-zram=y

# -----------------------------------------------------------------------------
# Essential System Utilities
# -----------------------------------------------------------------------------
CONFIG_PACKAGE_bash=y
CONFIG_PACKAGE_blkid=y
CONFIG_PACKAGE_btrfs-progs=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_default-settings=y
CONFIG_PACKAGE_dosfstools=y
CONFIG_PACKAGE_exfat-fsck=y
CONFIG_PACKAGE_exfat-mkfs=y
CONFIG_PACKAGE_fdisk=y
CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_iputils-arping=y
CONFIG_PACKAGE_iperf3=y
CONFIG_PACKAGE_jq=y
CONFIG_PACKAGE_lsblk=y
CONFIG_PACKAGE_resolveip=y
CONFIG_PACKAGE_tcpdump=y
CONFIG_PACKAGE_terminfo=y
CONFIG_PACKAGE_unzip=y
CONFIG_PACKAGE_smartmontools=y
CONFIG_PACKAGE_smartmontools-drivedb=y
CONFIG_PACKAGE_usb-modeswitch=y
CONFIG_PACKAGE_coreutils-nohup=y
CONFIG_PACKAGE_coreutils-stat=y
CONFIG_PACKAGE_coreutils-base64=y
CONFIG_PACKAGE_procps-ng-pkill=y
CONFIG_PACKAGE_procps-ng-watch=y
CONFIG_PACKAGE_libcap-bin=y # Добавление команды setcap

# -----------------------------------------------------------------------------
# Monitoring and Diagnostic Tools
# -----------------------------------------------------------------------------
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_bmon=y

# -----------------------------------------------------------------------------
# Core Libraries
# -----------------------------------------------------------------------------
CONFIG_PACKAGE_libattr=y
CONFIG_PACKAGE_libcap=y
CONFIG_PACKAGE_libcurl=y
CONFIG_PACKAGE_libelf=y
CONFIG_PACKAGE_libfdisk=y
CONFIG_PACKAGE_liblua=y
CONFIG_PACKAGE_liblucihttp-lua=y
CONFIG_PACKAGE_liblzo=y
CONFIG_PACKAGE_libmount=y
CONFIG_PACKAGE_libncurses=y
CONFIG_PACKAGE_libstdcpp=y
CONFIG_PACKAGE_lua=y

# -----------------------------------------------------------------------------
# LibCurl Configuration
# -----------------------------------------------------------------------------
CONFIG_LIBCURL_COOKIES=y
CONFIG_LIBCURL_CRYPTO_AUTH=y
CONFIG_LIBCURL_FILE=y
CONFIG_LIBCURL_FTP=y
CONFIG_LIBCURL_HTTP=y
CONFIG_LIBCURL_HTTP2=y
CONFIG_LIBCURL_HTTP_AUTH=y
CONFIG_LIBCURL_OPENSSL=y
CONFIG_LIBCURL_PROXY=y
CONFIG_LIBCURL_TFTP=y
CONFIG_LIBCURL_THREADED_RESOLVER=y
CONFIG_LIBCURL_TLS_SRP=y
CONFIG_LIBCURL_UNIX_SOCKETS=y

# -----------------------------------------------------------------------------
# Other Configuration
# -----------------------------------------------------------------------------
CONFIG_HTOP_LMSENSORS=y

# -----------------------------------------------------------------------------
# LuCI Core Components
# -----------------------------------------------------------------------------
CONFIG_PACKAGE_luci-compat=y
CONFIG_PACKAGE_luci-lib-base=y
CONFIG_PACKAGE_luci-lib-ip=y
CONFIG_PACKAGE_luci-lib-jsonc=y
CONFIG_PACKAGE_luci-lib-nixio=y
CONFIG_PACKAGE_luci-lua-runtime=y
CONFIG_PACKAGE_luci-theme-argon=y

# -----------------------------------------------------------------------------
# Essential Utilities
# -----------------------------------------------------------------------------
CONFIG_PACKAGE_bc=y
CONFIG_PACKAGE_zram-swap=y # Добавление сервиса zram
CONFIG_PACKAGE_openssh-sftp-server=y # sftp сервер
CONFIG_PACKAGE_openssl-util=y # openssl (для генерации сертификатов)
# CONFIG_PACKAGE_usbutils=y # Поддержка usb (lsusb)
# CONFIG_PACKAGE_libudev-zero=y # Зависимость для usbutils

# -----------------------------------------------------------------------------
# Essential LuCI Applications
# -----------------------------------------------------------------------------
CONFIG_PACKAGE_luci-app-argon-config=y
CONFIG_PACKAGE_luci-app-autoreboot=y
CONFIG_PACKAGE_luci-app-cpufreq=y
CONFIG_PACKAGE_luci-app-diskman=y
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_lsblk=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-irqbalance=y
CONFIG_PACKAGE_luci-app-turboacc=y
# CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_SHORTCUT_FE_DRV is not set
CONFIG_PACKAGE_luci-app-fancontrol=y
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-filemanager=y
CONFIG_PACKAGE_luci-app-wol=y

# -----------------------------------------------------------------------------
# Internet Accelerators
# -----------------------------------------------------------------------------
CONFIG_PACKAGE_mihomo-meta=y
CONFIG_PACKAGE_sing-box=y
# CONFIG_PACKAGE_xray-core=y
CONFIG_PACKAGE_luci-app-nikki=y
CONFIG_PACKAGE_luci-app-momo=y
CONFIG_PACKAGE_luci-proto-amneziawg=y

# -----------------------------------------------------------------------------
# LuCI Localization
#
# Ко всем пакетам дополнительно будет установлена ваша локализация
# -----------------------------------------------------------------------------
CONFIG_LUCI_LANG_ru=y

# -----------------------------------------------------------------------------
# Network Services
# -----------------------------------------------------------------------------
CONFIG_PACKAGE_iptables-nft=y # Устанавливает nft версию iptables (nf_tables) вместе с бинарниками
CONFIG_PACKAGE_ip6tables-nft=y
CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_dnsmasq_full_ipset=y
CONFIG_PACKAGE_dnsmasq_full_nftset=y
CONFIG_PACKAGE_miniupnpd-nftables=y

# -----------------------------------------------------------------------------
# Feeds Configuration
#
# Prevent package manager from adding custom feeds as repositories in final image.
# They don't exist upstream and will cause errors when trying to update
#
# ERROR: wget: exited with error 8
# WARNING: updating and opening ... unexpected end of file
# -----------------------------------------------------------------------------
#
# CONFIG_FEED_nss_packages is not set
# CONFIG_FEED_sqm_scripts_nss is not set
# CONFIG_FEED_video is not set
